<a href="https://colab.research.google.com/github/yunosuken/jupyter/blob/main/20210215_%E3%83%93%E3%83%83%E3%83%88%E3%82%B3%E3%82%A4%E3%83%B3%E3%83%81%E3%83%A3%E3%83%BC%E3%83%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import requests
import json
import pandas as pd
from plotly.graph_objs import *
# !pip install plotly==3.10.0
import plotly.plotly as py

In [6]:
res = requests.get('https://api.cryptowat.ch/markets/bitflyer/btcjpy/ohlc')
data = json.loads(res.text)
daily_data = pd.DataFrame(data['result']['86400'], columns=['close_time', 'open_price', 'high_price', 'low_price', 'close_price', 'volume', 'quote_volume'])
daily_data.head()

   close_time  open_price  high_price  ...  close_price  volume  quote_volume
0  1435276800       29020       32000  ...        32000   0.033           0.0
1  1435363200       32000       31700  ...        31700   0.001           0.0
2  1435449600       31700       31704  ...        31000   2.739           0.0
3  1435536000       31000       31220  ...        30870   1.280           0.0
4  1435622400       30870       31550  ...        31550   0.990           0.0

[5 rows x 7 columns]

In [8]:
daily_data['date'] = pd.to_datetime(daily_data['close_time'], unit='s')
daily_data.head()

   close_time  open_price  high_price  ...  volume  quote_volume       date
0  1435276800       29020       32000  ...   0.033           0.0 2015-06-26
1  1435363200       32000       31700  ...   0.001           0.0 2015-06-27
2  1435449600       31700       31704  ...   2.739           0.0 2015-06-28
3  1435536000       31000       31220  ...   1.280           0.0 2015-06-29
4  1435622400       30870       31550  ...   0.990           0.0 2015-06-30

[5 rows x 8 columns]

In [26]:
trace1 = {
    'type': 'candlestick',
    'x': daily_data['date'],
    'yaxis': 'y2',
    'low': daily_data['low_price'],
    'high': daily_data['high_price'],
    'open': daily_data['open_price'],
    'close': daily_data['close_price'],
}
fig = Figure(data=[trace1])
fig.show()

AttributeError: ignored